@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-kantumruy);
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
